@import '../../styles/colours';
.wrapper {
    position: relative;
    display: grid;
    grid-template: "code analysis" min-content "code analysis" 1fr / min-content 1fr;
    background-color: $off-gray;
}