.overlay {
    background-color: white;
    opacity: 0.75;
    position: absolute;
    z-index: 5;
    cursor: default;
    * {
        opacity: 1;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        filter: brightness(0);
        cursor: pointer;
    }
    a {
        z-index: 6;
        cursor: pointer;
    }
    max-width: 100%;
    margin-top: 10px;
    padding: 30px;
    border-radius: 2px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    font-family: monospace;
    &.hidden {
        display: none;
    }
}