.maths {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.superScript {
    vertical-align: super;
    font-size: 75%;
}

.sub_title {
    font-weight: 800;
}

.title {
    font-size: 110%;
    font-weight: 900;
}

.cyclomatic {
    font-size: 70%;
    border: 1px dotted white;
}

.complexity {
    max-width: 100%;
}