.maths {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.superScript {
    vertical-align: super;
    font-size: 75%;
}

.sub_title {
    font-weight: 800;
}

.title {
    font-size: 110%;
    font-weight: 900;
}

.halstead {
    font-size: 50%;
    border: 1px dotted white;
    margin-bottom: 5px;
}

.measures {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    >div {
        text-align: left;
        margin-left: 5px;
    }
}

.ops {
    border-bottom: 2px solid white;
}