@import '../../styles/colours';
.wrapper {
    position: relative;
    display: flex;
    background-color: $off-black;
    justify-content: space-between;
    align-items: center;
    object {
        max-height: 50px;
    }
    * {
        margin: 0 10px;
    }
    border-bottom: 1px ridge #2A0ED4;
}

.status {
    width: auto;
    color: $off-white;
    font-family: monospace;
    position: relative;
    padding: 0;
    &::after {
        content: '';
        position: absolute;
        padding: 1px;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    &.alive {
        &::after {
            background-color: green;
        }
    }
    &.dead {
        &::after {
            background-color: red;
        }
    }
    &:hover {
        &::after {
            position: absolute;
            left: 0;
            top: initial;
            border-radius: initial;
            color: $off-black;
            background-color: $off-white;
            opacity: 95%;
            width: fit-content;
        }
        &.alive {
            &::after {
                content: 'Server online';
            }
        }
        &.dead {
            &::after {
                content: 'Server down';
            }
        }
    }
}